@charset "utf-8";
/* CSS Document */
ul{
	  display:inline;
  }
  ul li
  {
	  list-style:none;
	  float:left;
	  margin: 5px 8px 2px 8px;
	  padding: 5px 10px 5px 10px;
	  background-color: #EFEFEF;
	  border: 1px solid #CCCCCC;
  }
  .an
  {
	  background-color:rgba(147,147,147,0.62);
  }


 .tab{
	  margin-left:8px;
	  clear:both;
  }
.menu_1
{ height:500px;
  width:80%;
  background-color:rgba(147,147,147,0.62);
  border: 1px solid #CCCCCC;

}
.menu_2
{  width:80%;
   height:500px;
   background-color:rgba(147,147,147,0.62);
   border: 1px solid #CCCCCC;
   display:none;
}
.menu_3
{   width:80%;
    background-color:rgba(147,147,147,0.62);
    border: 1px solid #CCCCCC;
	display:none;
	height:500px;
}
#mask
{
  background-color: #000;
  opacity: 0.65;
  width: 100%;
  height:1000px;
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
}
#login
{
  width: 30%;
  height: 30%;
  position: fixed;
  z-index: 1001;
  left: 464px;
  top:80px;
}
.logincon
{
  width: 320px;
  height:500px;
  background-image:url(login.png);
  position: relative;
}
#close{
	width:30px;
	height:30px;
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	background:url(close.png) no-repeat;
}
#denglu
{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;

}
